/* 1. Для всього документу встановіть наступний шрифт: назва serif, розмір 14px, міжрядковий інтервал 1.25, колір #777  */
body {
  font-family: 'PT Sans Narrow', serif;
  font-size: 14px;
  line-height: 1.25;
  color: #777;
}

/* 2. Для всіх вкладених списків встановіть курсивний жирний шрифт */
ul ul {
  font-style: italic;
  font-weight: bold;
}

/* 3. встановіть на всі заголовки шрифт 'Cormorant Infant' (serif - у якості "підстраховки"), 
   міжлітерний інтервал 0.5px і колір текста чорний, 
   а також щоб кожне слово починалось з заглавної букви */
h1, h2 {
  font-family: 'Cormorant Infant', serif;
  letter-spacing: 0.5px;
  color: #000;
  text-transform: capitalize;
}

/* 4. Після застосування зовнішнього шрифту стало зрозуміло що він досить малий - 
   збільшість заголовки першого рівня до 32px */
h1 {
  font-size: 32px;
}

/* 5. Заголовки другого рівня зробіть 26px */
h2 {
    font-size: 26px;
}

/* 6. Для другого абзацу за класом встановіть подвійний міжрядковий інтервал. */
.double-line {
  line-height: 2;
}

/* 7. Додайте клас mail-box до div що навколо пошти і задайте наступні йому властивості:
- ширину 150px
- задній фон кольору #E3FFF6
- рамку товщиною 5 пікселів і кольору #C2E4C2
- внутрішні відступи: горизонтальні 20px, вертикальні 5px */
.mail-box {
  width: 150px;
  background-color: #E3FFF6;
  border: 5px solid #C2E4C2;
  padding: 5px 20px;
}

/* 8. Виправте ситуацію і заставте блок стати точно 150 пікселів шириною (box-sizing) */
.mail-box {
  box-sizing: border-box;
}

/* 9. Заставте текст пошти ламатись, щоб поміститись у блок */
.mail-box {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* 10. Заставте емейл починатись з нового рядку (перетворюємо лінк у блочний елемент) */
.mail-box a {
  display: block;
}

/* 11. Усі абзаци вирівняйте по ширині */
p {
  text-align: justify;
}

/* 12. Списку наших переваг .our-adv встановіть стилі:
- фон зображення
- верхній відступ 30px, нижній 60px
- колір білий
- шрифт 16px */
.our-adv {
  background-image: url('http://picsum.photos/id/357/700/400?blur=5');
  padding-top: 30px;
  padding-bottom: 60px;
  color: white;
  font-size: 16px;
}

/* 13. Зробіть так, щоб задній фон займав всю можливу ширину, 
   але зберігав пропорції та показував центральну частину */
.our-adv {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 14. Задайте усім заголовкам другого рівня верхній зовнішній відступ у 60 пікселів, нижній — у 0 */
h2 {
  margin-top: 60px;
  margin-bottom: 0;
}

/* СЛУЖБОВІ СТИЛІ */
.ruler {
  width: 150px;
  background-color: lime;
  text-align: center;
}